In [2]:
# Database connection
import os
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [3]:
# Number of rows in taxi_table
print(pd.read_sql_query("select count(*) from taxi_table", con=engine))
# Number of rows in zones table
print(pd.read_sql_query("select count(*) from zones", con=engine))

    count
0  476386
   count
0    265

In [4]:
# 3.1 During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), 
# how many trips, respectively, happened: Up to 1 mile
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance<=1
"""
print(pd.read_sql_query(query,con=engine))

    count
0  104802

In [5]:
# 3.2: During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 1 (exclusive) and 3 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>1 AND trip_distance<=3
"""
print(pd.read_sql_query(query,con=engine))

    count
0  198924

In [6]:
# 3.3: During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 3 (exclusive) and 7 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>3 AND trip_distance<=7
"""
print(pd.read_sql_query(query,con=engine))

    count
0  109603

In [7]:
# 3.4: During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 7 (exclusive) and 10 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>7 AND trip_distance<=10
"""
print(pd.read_sql_query(query,con=engine))

   count
0  27678

In [8]:
# 3.5: During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 7 (exclusive) and 10 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>10
"""
print(pd.read_sql_query(query,con=engine))

   count
0  35189

In [9]:
# Question 4. Longest trip for each day
# Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
query = """
    SELECT lpep_pickup_datetime::date, trip_distance FROM taxi_table
    ORDER BY trip_distance DESC
    LIMIT 1
"""
print(pd.read_sql_query(query,con=engine))

  lpep_pickup_datetime  trip_distance
0           2019-10-31         515.89

In [10]:
# Question 5. Three biggest pickup zones
# Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
# Consider only lpep_pickup_datetime when filtering by date.
query = """
    select zones."Zone", sum(taxi_table."total_amount"::integer) as total_amount
    from taxi_table, zones
    where taxi_table."PULocationID" = zones."LocationID" AND taxi_table.lpep_pickup_datetime::date = '2019-10-18'
    group by zones."Zone" HAVING sum(taxi_table."total_amount"::integer)>13000
    order by total_amount desc
    LIMIT 3;
"""
print(pd.read_sql_query(query,con=engine))

                  Zone  total_amount
0    East Harlem North         18676
1    East Harlem South         16805
2  Morningside Heights         13040

In [11]:
# Question 6: 
# For the passengers picked up in October 2019 in the zone name "East Harlem North" which was the drop off zone that had the largest tip?
query = """
   select "Zone" from zones
where "LocationID" in 
(
select "DOLocationID"
from (
select taxi_table."DOLocationID", zones."Zone" as "pickup_location", taxi_table."tip_amount"
FROM taxi_table, zones
WHERE taxi_table."PULocationID" = zones."LocationID" AND to_char(taxi_table.lpep_pickup_datetime, 'YYYY-MM')='2019-10' AND zones."Zone"='East Harlem North'
) 
ORDER BY "tip_amount" DESC
LIMIT 1);

"""
print(pd.read_sql_query(query,con=engine))

          Zone
0  JFK Airport