In [12]:
# Database connection
import os
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [19]:
# Number of rows in taxi_table
print(pd.read_sql_query("select count(*) from taxi_table", con=engine))
# Number of rows in zones table
print(pd.read_sql_query("select count(*) from zones", con=engine))

    count
0  476386
   count
0    265

In [47]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened: Up to 1 mile
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance<=1
"""
print(pd.read_sql_query(query,con=engine))

    count
0  104802

In [49]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 1 (exclusive) and 3 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>1 AND trip_distance<=3
"""
print(pd.read_sql_query(query,con=engine))

    count
0  198924

In [50]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 3 (exclusive) and 7 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>3 AND trip_distance<=7
"""
print(pd.read_sql_query(query,con=engine))

    count
0  109603

In [51]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 7 (exclusive) and 10 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>7 AND trip_distance<=10
"""
print(pd.read_sql_query(query,con=engine))

   count
0  27678

In [52]:
# During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened
# In between 7 (exclusive) and 10 miles (inclusive),
query = """
    SELECT COUNT(*) FROM taxi_table
    WHERE lpep_pickup_datetime::date >= '2019-10-01' AND lpep_dropoff_datetime::date < '2019-11-01'
    AND
    trip_distance>10
"""
print(pd.read_sql_query(query,con=engine))

   count
0  35189

In [ ]:
# Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
# Consider only lpep_pickup_datetime when filtering by date.